@media (min-width: 64em) {
    html{
        max-width: 1250px;
    }

    .menu-button{
        display: none;
    }
    header>h1{
        margin-left: 1rem;
        text-align: left;
    
    }
    nav{
      display: inline;  
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-decoration: none;
        list-style: none;

    }
    nav ul li a{
        
        font-size: 100%;
        display: inline;
    }
 

 
    .contact{
        display: grid;
        grid-template-columns: .5fr 1fr 2fr;
        column-gap: 10px;
    }
    #map{
        grid-column: 2;
    }
    .navigation li:first-child {
		display: none;
    }
    .hide{
        display: inline;
    }
    h1{
        font-size: 48px;
    }
    h2{font-size: 40px;}
    
    #active{
        font-size: 1.2rem;
    }
    
    .text{
        display:block;
    }
    form{
        text-align: left;
        max-width: 960px;
        margin: 100px;
     
  
    
}
}
