@media (min-width: 32.5em) {
    html{
        max-width: 1250px;
    }

    .menu-button{
        display: none;
    }
    header>h1{
        margin-left: 1rem;
        text-align: left;
    
    }
    nav{
      display: inline;  
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        text-decoration: none;
        list-style: none;

    }
    nav ul li a{
        
        font-size: 95%;
        line-height: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
       
    }
   
   
   
    .contact{
        display: grid;
        grid-template-columns: .5fr 1fr 2fr;
        column-gap: 10px;
    }
    #map{
        grid-column: 2;
    }
    .navigation li:first-child {
		display: none;
    }
    .hide{
        display: inline;
    }
    h1{
        font-size: 30px;
    }
    h2{ font-size: 26px;}
    
    #active{
        font-size: .9rem;
    }
  

}