@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Baskerville:wght@700&family=Open+Sans&display=swap");
html{
    max-width: 500px;
}
img{
    max-width: 100%;
  /* min-width: 300px;*/
    min-height: 210px;
    max-height: 75%;
}
#logo{
    max-width: 128px;
    max-height: 128px;
    min-height: 64px;
}
body{
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3{
    font-family: "Libre Baskerville", serif;
  }
  h1{
      font-size: 24px;
  }
header{
    background-color: #FABC2A;
    display: flex;
    padding: 1rem;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    justify-content: center;
}
header>h1,header>img,header>button{
    flex:1;
    text-align: center;

}

header>img{
    max-width: 96px;
}
header>h1{
    margin-top: 2rem;
}
button{
    background-color: #632B30;
    border-style: none;
}
body{
    background-color:#ccf0ee;
}
/*.navigation{
    display: block;
}*/
.menu{
    display: block;/*none*/
}
.hide{
    display: none;
}
nav{
    max-width:1250px;
    
}
nav ul{
    padding: 0%;
    margin: 0%;
}
nav ul li{
    list-style: none;
    padding: .8rem 2%;
    margin: 1rem;
}
nav ul li a{
    text-decoration: none;
    padding: .8rem 2%;
    margin: 1rem;
    color: #632B30;;
   
    
    
}
nav ul li a:hover{
    background-color:#632B30;;
    color: #FABC2A;
 
}
#linkbyu{
    color:white;
    text-decoration: none;
    
   
}
.box{
    background-color:white;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-forecast-large{
    display: none;
}

.box-forecast-small{
    border:black solid 1px;
   
  

}
.titulo{
    border-bottom: black solid 1px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: 3rem;
    background-color: #008789;
    margin-top: 0px;
   
}
.city{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #008789;
    margin-bottom: 0px;
    border: black solid 1px;
}
.secundary-img1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    top: 3px;
}
.contact{
    padding: 1rem;
    text-align: center;
}
.contact img{
    width: 320px;
   
}
.contact .social img{
    width: 64px;
   
}
footer{
  background-color: #FABC2A;
  text-align: center;
}
#active{
    display: none;
    background-color:#009c3b;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1em;
    padding-bottom: 1rem;
    color:white;
    font-size: 12px;
}
#label{
    font-style: oblique;
    
    color: red;
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    left:60%;
    top: -15rem;
}
.box{

     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
     max-width: 960px;
     gap: 10px;
     margin-left:0px;
     margin-right: 0px;
     margin-top: 10px;
     grid-template-rows: repeat(auto-fill,minmax(210px,1fr));
   
}
.text{
    display:none;
}

picture{
    width: 320px;
 }
 .towns{
     text-align: center;
     margin-left: 0px;
     margin-right: 0px;
 }
 .town{
     text-align: center;
     width: 90%;
     margin-left: 15px;
     margin-right: 5px;
     margin-top: 5px;
     border: #0c0c0c solid 1px;
     padding: 2%;
 }

/*storm center*/

html{
    max-width: 500px;
    justify-content: center;
  }
  img{
    max-width: 100%;
  }
  #logo{
    max-width: 128px;
    max-height: 128px;
  }
  
  h1, h2, h3{
    font-family: 'Bodoni Moda', serif;
  }
  h1{
      font-size: 24px;
  }
  header{
    background-color: #FABC2A;
    display: flex;
    padding: 1rem;
    border-radius: 1em;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }
  header>h1,header>img,header>button{
    flex:1;
    text-align: center;
  
  }
  
  header>img{
    max-width: 96px;
  }
  header>h1{
    margin-top: 2rem;
  }
  button{
    background-color: #632B30;
    border-style: none;
  }
  body{
    background-color: #ccf0ee;
    font-family: 'Montserrat', sans-serif;
    padding: 4px 25px;
    font-size: 16px;
    margin: 0;
  }
  /*.navigation{
    display: block;
  }*/
  .menu{
    display: block;/*none*/
  }
  .hide{
    display: none;
  }
  nav{
    max-width:1250px;
    
  }
  nav ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-align: center;
  }
  nav li a{
    display: block;
    color: #632B30;
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    margin: 10px;
    font-size: 2.5em;
  }
  
  
  nav ul li a:hover{
    font-family: 'Bodoni Moda', serif;
    color: #FABC2A;
    background-color: #632B30;
    border-radius: 0.5em;
  
  }
  
  
  .box{
      text-align: center;
       margin-left:auto;
       margin-right: auto;
       margin-top: 10px;
      
  }
  
  }
  .titulo{
    border-bottom: black solid 1px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: 3rem;
    background-color: #632B30;
    margin-top: 0px;
   color: white;
  }
  .city{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #632B30;
    margin-bottom: 0px;
    border: black solid 1px;
    color: white;
  }
  .secundary-img1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    top: 3px;
  }
  .contact{
    padding: 1rem;
    text-align: center;
  }
  .contact img{
    width: 320px;
   
  }
  .contact .social img{
    width: 64px;
   
  }
  footer{
    background-color: #FABC2A;
    border-radius: 1em;
    text-align: center;
    padding: 18px;
    justify-content: center;
  }
  #active{
    display: none;
    background-color:#632B30;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1em;
    padding-bottom: 1rem;
    color:white;
    font-size: 12px;
  }
  .headings{
    display: flex;
    flex-direction: column;
  }
  
  
  
  
  
  .formulario{
      display: grid;
      grid-template-columns: 1fr;
      padding: 15px;
  }
  form{
      text-align: center;
      max-width: 960px;
      min-width: 400px;
      padding:15px;
      line-height: 2rem;
  }
  fieldset{
      border-radius: 5px;
  }
  legend{padding: 10px;}
  input{
      margin:  15px;
  }
  form{
      text-align: center;
      max-width: 960px;
      min-width: 400px;
      padding:15px;
      line-height: 2rem;
     
  }
  #report{
      margin-top: 15px;
      max-width: 200px;
      max-height: 100px;
      min-height: 40px;
      margin-left: auto;
      margin-right: auto;
  }
  .text{
      display:none;
  }
  input, textarea{border-radius: 3px;
  line-height: 1.3em;}
  .required{color:red;
             font-size: 1.5em;}

  }